@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf")
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

em {
    font-style: italic;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    font-weight: 600;
    font-size: 0.75rem;
}

input{
    border: solid 1px #E5E7EB;
    border-radius: 5px;
    width: 200px;
    height: 1.5rem;
}

button{
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.main {
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 70vw;
    max-height: 100vh;
    background-color: #f7f7f7;
}

.sidebar {
    width: 30vw;
    height: 100vh;
    background-image: url("../shared/background.jpg");
    background-size: 30vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attribution{
    color: white;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

.attribution a {
    text-decoration: underline;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 40px 40px 40px;
    padding-right: 600px;
    box-shadow: 0px 5px 5px rgb(202, 202, 202);
    background-color: white;
    margin-bottom: 5px;
}

.inputs-header {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    font-weight: 600;
    padding-bottom: 10px
}


.input-element{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 0;
    padding-right: 50px;
    padding-bottom: 10px;
}

.logo-container{
    position: relative;
    display: flex;
    top: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(0 0 0 / 50%);
}

.logo-text{
    font-size: 5rem;
    font-family: "Norse-Bold";
}

.logo {
    width: 25%;
    height: 90%;
}

.text-disclaimer {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 460px;
    font-weight: 600;
}

.submit-form {
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-left: 40px;
}

.submit-form p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-weight: 600;
}

.submit-form a {
    text-decoration: none;
    color: #596D48;
}

input:invalid{
    border-color: rgb(253, 56, 56);
}

input:focus{
    outline: none;
    border-color: rgb(98, 98, 255);
}