@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf")
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

em {
    font-style: italic;
}

button{
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.main {
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 60vw;

}

.sidebar {
    width: 40vw;
    height: 100vh;
    background-image: url("../shared/background.jpg");
    background-size: 30vw 100vh; 
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
    padding-right: 600px;
    box-shadow: 0px 5px 5px rgb(202, 202, 202);
    margin-bottom: 10px;
}

.input-element{
    display: flex;
    flex-direction: column;
    width: 250px;
    flex: 0;
}

.logo-container{
    position: relative;
    top: 200px;
    color: white;
    background: rgb(0 0 0 / 50%);
    text-align: center;
}

.logo-text{
    position: relative;
    bottom: 50px;
    font-size: 5rem;
    font-family: "Norse-Bold";
}

.logo {
    width: 25%;
    height: 10%;
}

.text-disclaimer {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    padding-top: 225px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 500px;
    font-weight: 600;
}

.inputs-header{
    width: 400px;

}

.submit-form {
    background-color: #f7f7f7;
    padding-bottom: 225px;
    padding-top: 40px;
    padding-left: 40px;
}